{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h4 class="h3 mb-2 text-gray-800">{{ title }}</h4>
        <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal"
                data-target="#exampleModalCenter">
            <i class="fas fa-plus fa-sm text-white-50"></i>
            Tambah Mahasiswa
        </button>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        {% for head in header %}
                            <th>{{ head }}</th>
                        {% endfor %}
                        <th>Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ user.npm }}</td>
                            <td>{{ user.nama }}</td>
                            <td>{{ user.prodi }}</td>
                            <td>{{ user.ket_aktif }}</td>
                            <td>{{ user.created_at }}</td>
                            <td>
                                <button class="btn btn-info btn-sm mx-1" data-toggle="modal"
                                        data-target="#editModal{{ user.id }}">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm mx-1" data-toggle="modal"
                                        data-target="#confirmDelete{{ user.id }}">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>

                        <!-- Modal Edit untuk setiap data -->
                        <div class="modal fade" id="editModal{{ user.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="editModalLabel{{ user.id }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel{{ user.id }}">Edit Data
                                            <span class="text-primary">{{ user.nama }}</span>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="POST"
                                          action="{{ url_for('main.edit_mahasiswa', mahasiswa_id=user.id) }}">
                                        {{ form.hidden_tag() }}

                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>NPM</label>
                                                <input type="text" name="npm" class="form-control"
                                                       value="{{ user.npm }}">
                                                {% for error in form.npm.errors %}
                                                    <small class="text-danger">{{ error }}</small>
                                                {% endfor %}
                                            </div>
                                            <div class="form-group">
                                                <label>Nama</label>
                                                <input type="text" name="nama" class="form-control"
                                                       value="{{ user.nama }}">
                                                {% for error in form.nama.errors %}
                                                    <small class="text-danger">{{ error }}</small>
                                                {% endfor %}
                                            </div>
                                            <div class="form-group">
                                                <label>Program Studi</label>
                                                <input type="text" name="prodi" class="form-control"
                                                       value="{{ user.prodi }}">
                                                {% for error in form.prodi.errors %}
                                                    <small class="text-danger">{{ error }}</small>
                                                {% endfor %}
                                            </div>
                                            <div class="form-group">
                                                <label for="ket_aktif">Status Mahasiswa</label>
                                                <select name="ket_aktif" class="form-control" id="ket_aktif">
                                                    <option value="AKTIF"
                                                            {% if user.ket_aktif == 'AKTIF' %}selected{% endif %}>Aktif
                                                    </option>
                                                    <option value="NON AKTIF"
                                                            {% if user.ket_aktif == 'NON AKTIF' %}selected{% endif %}>
                                                        Non Aktif
                                                    </option>
                                                </select>
                                                {% for error in form.ket_aktif.errors %}
                                                    <small class="text-danger">{{ error }}</small>
                                                {% endfor %}
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                                Update
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                        <!-- Modal Konfirmasi Hapus -->
                        <div class="modal fade" id="confirmDelete{{ user.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="confirmDeleteLabel{{ user.id }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmDeleteLabel{{ user.id }}">Konfirmasi Hapus
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Apakah Anda yakin ingin menghapus data ini?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Batal
                                        </button>
                                        <!-- Form untuk Menghapus Data -->
                                        <form method="POST"
                                              action="{{ url_for('main.delete_mahasiswa', mahasiswa_id=user.id) }}"
                                              class="d-inline">
                                            {{ form.hidden_tag() }}
                                            <button type="submit" class="btn btn-danger">Ya, Hapus</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {#  modal #}
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Tambah Mahasiswa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ url_for('main.add_mahasiswa') }}" method="POST" class="user">
                    {{ form.hidden_tag() }}

                    <div class="modal-body">
                        <div class="form-group">
                            <label>NPM</label>
                            {{ form.npm(class_='form-control', type='number') }}
                            {% for error in form.npm.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label>Nama</label>
                            {{ form.nama(class_='form-control') }}
                            {% for error in form.nama.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label>Prodi</label>
                            {{ form.prodi(class_='form-control') }}
                            {% for error in form.prodi.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="tahun_masuk">Tahun Masuk</label>
                            {{ form.tahun_masuk(class_='form-control', render_kw={"type": "year"}) }}
                            {% for error in form.tahun_masuk.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="role">Status Mahasiswa</label>
                            {{ form.ket_aktif(class_='form-control', id='ket_aktif') }}
                            {% for error in form.ket_aktif.errors %}
                                <small class="text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}